<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HerbertDotNet.Visualizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HerbertDotNet.Visualizer.Properties.Settings>
            <setting name="MainFormShowStatusBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainFormShowToolBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultMatchesPath" serializeAs="String">
                <value>C:\Users\Alex\Documents\Visual Studio 2008\Projects\Herbert.NET\Levels\</value>
            </setting>
            <setting name="MainFormDisplayPath" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainFormTraceExecution" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExecutionMaxIterations" serializeAs="String">
                <value>100000</value>
            </setting>
            <setting name="CheckForUpdatesOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PromptToSaveSolutionsOnExit" serializeAs="String">
                <value>True</value>
            </setting>
        </HerbertDotNet.Visualizer.Properties.Settings>
    </userSettings>
</configuration>